<%- include header %>
<form method="post">
  用户名&nbsp&nbsp&nbsp：  <input type="text" name="name"/><br />
  密&nbsp&nbsp&nbsp码&nbsp&nbsp&nbsp：    <input type="password" name="password"/><br />
  确认密码：<input type="password" name="password-repeat"/><br />
  邮&nbsp&nbsp&nbsp箱&nbsp&nbsp&nbsp：    <input type="email" name="email"/><br />
           <input type="submit" value="注册"/>
</form>
<%- include footer %>